<h2 class="mat-display-1 vertical-bullet-text border-color-of-theme">{{ 'Merchandise' | uppercase }}</h2>
<section class="mat-subheading-1">
	<p>
		Get your exclusive BTBA 13th Symposium souvenir set! This special bundle includes 1 cross-body phone strap and 1 badge/ card holder with 
		a retractable clip, all designed to commemorate our prestigious event. Your purchase not only gives you a keepsake of this memorable 
		occasion but also supports the continued operation of BTBA. Items are availablefor pick-up only at the BTBA annual symposium and 
		are non-refundable once received. Purchase your set through the <a href="https://www.tickettailor.com/events/btba/1638644" target="_blank">ticket sale link</a>. 
		Don't miss out on this limited edition set!
	</p>
	<div (click)="goToLink('https://www.tickettailor.com/events/btba/1638644')" class="clickable mat-elevation-z1"><img
			src="assets/img/merch/2025.png" alt="" [style.width]="'100%'"></div>
	<p>(This image is for reference only.)</p>
</section>