<h2 class="mat-display-1 vertical-bullet-text border-color-of-theme">{{ 'Merchandise' | uppercase }}</h2>
<section class="mat-subheading-1">
	<p>
		Get your exclusive BTBA 12th Symposium souvenir set! This special bundle includes 2 BTBA stickers, 2 unique
		postcards, and 1 stylish bag, all designed to commemorate our prestigious event. Your purchase not only gives
		you a keepsake of this memorable occasion but also supports the continued operation of BTBA. Items are available
		for pick-up only at the BTBA annual symposium and are non-refundable once received. Purchase your set through
		the <a href="https://buytickets.at/btba/1264921" target="_blank">ticket sale link</a>. Don't miss out on this
		limited edition set!
	</p>
	<div (click)="goToLink('https://buytickets.at/btba/1264921')" class="clickable"><img
			src="assets/img/merch/2024.png" alt="" [style.width]="'100%'"></div>
</section>
