<h2 class="mat-display-1 vertical-bullet-text border-color-of-theme">
	{{ symposium.submission.title | uppercase }}
</h2>
<div class="mat-subheading-1" id="elevator">


	<h3 class="mat-headline" style="margin-top:1.5em">
		Abstracts – Talks and Posters
	</h3>
	<p>
		We welcome everyone in the broadly defined fields of biomedical studies, life sciences, biology, and biotechnology to present their work. Each year, the symposium brings together people from a variety of different professional backgrounds and bridges expertise across biotech subfields. This would be an excellent venue for you to share your research beeyond your specific scope of study, to discuss and brainstorm with other young professionals, and to establish potential collaborations.
	</p>
	<p>
		In addition to a poster presentation, you will also have the opportunity to give a 20-minute oral presentation (15-minute talk plus 5-minute QA) in the annual symposium. Please indicate your interest in giving a talk in your abstract submission. We will select 3 speakers from the pool of poster applications to give a talk. The selected presenters will be awarded a gift card ($30 in value) and their registration fee will be waived.
	</p>
	<p>
		We will select a few “best poster awards” from poster presenters. (Number of awardees depends on the total number of presenters). These presentation experiences could help build up resumes/CVs.
	</p>
	<p>
		Please note: due to space limitations, a person can only submit one poster abstract and be the main presenting author on one poster. (You can be co-authors on multiple posters but can only be the main presenter of ONE poster.)
	</p>


	<h3 class="mat-headline" style="margin-top:1.5em">
		Abstract Submission
	</h3>
	<p>
		Please read carefully the following instructions before proceeding with the online submission.
	</p>
	<ol>
		<li>Abstract should be 500 words or less in a single page.</li>
		<li>A complete abstract should include background, methods, results, and conclusions.</li>
		<li>Please prepare your abstract submission using the template.
			<a href="https://drive.google.com/uc?export=download&id=1F-SX60c_j48KQLdWI8Sna4KN2bPuuxfv">
				Download MS-Word Template.
			</a>
		</li>
		<li>If this is your first time using the EasyChair system, please create a new account.</li>
		<li>The person who submits the abstract should mark him/herself as the corresponding author. (Due to the constraints of the EasyChair system settings, only the corresponding author is allowed to submit the abstract.)</li>
	</ol>

	<div fxLayoutAlign="center" style="margin: 1.5em 0em">
		<button md-raised-button color="accent" (click)="goToLink(symposium.submission.link)">{{'Abstract Submission Site' | uppercase}}</button>
	</div>

	<h3 class="mat-headline" style="margin-top:1.5em">Abstract Submission Key Dates</h3>
	<ul>
		<li>June 1, 2023: Abstracts Submission Deadline (closes at 11:59 p.m. EDT)</li>
		<li>June 15, 2023: Acceptance Notifications (oral or poster presentations)</li>
		<li>July 8, 2023: Poster Session and Oral Presentation (first day of the BTBA Annual Symposium)</li>
	</ul>
	<p>
		<em>Date and time are based on eastern daylight saving time zone (EDT).</em>
	</p>

</div>
