<h2 class="mat-display-1 vertical-bullet-text border-color-of-theme">
	{{ symposium.submission.title | uppercase }}
</h2>
<div class="mat-subheading-1" id="elevator">


	<h3 class="mat-headline" style="margin-top:1.5em">
		Posters and Short Talks
	</h3>
	<p>
		Dear BTBA friends, we warmly invite you to be part of something exciting! Submit your poster abstract for the 2025 
		BTBA Annual Symposium for a chance to win a $30 gift card and have your registration fee waived. With ready-to-use 
		poster abstract templates, getting started is easy. Don't miss this excellent opportunity to share your amazing 
		work—we can't wait to meet you!
	</p>
	<p>
		Poster presenters will be eligible for “Best Poster Awards” and “Audience Choice Award”. In addition, 3 posters
		from the applications will be selected for oral presentations at the symposium. The selected presenters will be
		awarded a gift card ($30 in value) and their registration fee will be waived.
	</p>
	<p>
		Please note: due to space limitations, a person can only submit one poster abstract and be the main presenting
		author on one poster. (You can be co-authors on multiple posters but can only be the main presenter of ONE
		poster.)
	</p>

	<h3 class="mat-headline" style="margin-top:1.5em">
		Abstract Submission
	</h3>
	<p>
		<strong>Step 1:</strong> Please prepare your abstract submission using the template.
		<a href="https://shorturl.at/7AbLT">
			Download MS-Word Template.
		</a>
	</p>
	<p>
		<strong>Step 2:</strong> Fill out <a href="https://forms.gle/vbo2mWdXSAeYAVMg7">the submission form</a> and
		upload your abstract when submitting the form.
	</p>

	<h3 class="mat-headline" style="margin-top:1.5em">Abstract Submission Key Dates</h3>
	<ul>
		<li>May 25, 2025: Abstract Submission Deadline (closes at 11:59 pm EDT)</li>
		<li>Jun 8, 2025: Oral Presentation Winners Notifications</li>
	</ul>

</div>
