<h2 class="mat-display-1 vertical-bullet-text border-color-of-theme">
	{{ symposium.submission.title | uppercase }}
</h2>
<div class="mat-subheading-1" id="elevator">


	<h3 class="mat-headline" style="margin-top:1.5em">
		Posters and Short Talks
	</h3>
	<p>
		We welcome everyone in the broadly defined fields of biomedical studies, life sciences, biology, and
		biotechnology to present their work in the BTBA Annual Symposium. The BTBA Annual Symposium brings together
		people from a variety of professional backgrounds and bridges expertise across fields. This would be an
		excellent venue for you to share your research beyond your specific scope of study, to discuss and brainstorm
		with other professionals, and to establish potential collaborations.
	</p>
	<p>
		Poster presenters will be eligible for “Best Poster Awards” and “Audience Choice Award”. In addition, 3 posters
		from the applications will be selected for oral presentations at the symposium. The selected presenters will be
		awarded a gift card ($30 in value) and their registration fee will be waived.
	</p>
	<p>
		Please note: due to space limitations, a person can only submit one poster abstract and be the main presenting
		author on one poster. (You can be co-authors on multiple posters but can only be the main presenter of ONE
		poster.)
	</p>

	<h3 class="mat-headline" style="margin-top:1.5em">
		Abstract Submission
	</h3>
	<p>
		<strong>Step 1:</strong> Please prepare your abstract submission using the template.
		<a href="https://drive.google.com/uc?export=download&id=1VOAQ8uq_oYKXahDvHBwuYZgqeOo_3nPC">
			Download MS-Word Template.
		</a>
	</p>
	<p>
		<strong>Step 2:</strong> Fill out <a href="https://forms.gle/8zjeHUptzMn9b9Q46">the submission form</a> and
		upload your abstract when submitting the form.
	</p>

	<h3 class="mat-headline" style="margin-top:1.5em">Abstract Submission Key Dates</h3>
	<ul>
		<li>July 21, 2024: Abstract Submission Deadline (closes at 11:59 pm EDT)</li>
		<li>July 24, 2024: Oral Presentation Winners Notifications</li>
	</ul>

</div>
