name: Build angular and push to gh-pages branch 
on:
  push:	
    branches:	
      - master

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    defaults:
      # Set working dir to ./client since we are only building frontend
      run:
        working-directory: ./client
    steps:
    - uses: actions/checkout@master
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        # Pin to node6
        node-version: 6.13.1
    - name: npm install and build
      working-directory: ./client
      # Install and build to gh-pages dir
      # FIXME: do we still need `--base-href`?
      run: |
        npm install
        npm run build --  --prod --output-path gh-pages  --base-href /2024/

    - name: Deploy
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: client/gh-pages
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
